<div class="container-fluid" style="min-height: 100vh">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div class="header mb-5">
    <div class="brand d-flex align-items-center justify-content-start">
      <div class="logo"></div>
      <h3>Provision App</h3>
    </div>
    <div>
      <p class="text-center" style="font-size:large; font-weight: bold; margin: 0">{{adminName}}</p>
      <p class="text-center" style="font-size:large; font-weight: bold; margin: 0">{{adminMatricule}}</p>
    </div>
    @if(adminRole === ""){
      <div class="menu">
        <a routerLink="/my-requests">My Requests</a>
        <a routerLink="/my-servers">My Servers</a>
        <a href="">My Profile</a>
      </div>
    }
    @if(adminRole === "GeneralSpecAdmin") {
      <div class="menu">
        <p style="font-weight: bold;">General Specs Admin</p>
      </div>
    }
    @if(adminRole === "NetworkAdmin") {
      <div class="menu">
        <p style="font-weight: bold;">Network Admin</p>
      </div>
    }
  </div>

  @if(adminRole !== "") {
    <p class="mb-4" style="color: orange;"> <i class="fa fa-bell me-2"></i>{{requestDetails.fullName}}: {{requestDetails.position}},  (Matricule: {{ requestDetails.matricule}}) has made a server request !</p>
  }
  @if(adminRole === "NetworkAdmin") {
    <p class="mb-4" style="color: rgb(6, 216, 10);">This request was approved by General specs admin and is waiting for CIDR range allocation.</p>
  }

  <div>
    <h3 style="font-weight: 500; font-size: 20px; margin-bottom: 15px;">* Request details</h3>
    <div class="ms-4">
      <p><span>Server name:</span>{{requestDetails.vmName}}</p>
      <p><span>Description:</span>{{requestDetails.description}}</p>
      <p><span>Environment type:</span> {{ requestDetails.environment_type | titlecase }}</p>
      <p><span>Operating system:</span>{{requestDetails.operating_system}}</p>
      <p><span>RAM:</span>{{requestDetails.ram}}</p>
      <p><span>vCPUs:</span>{{requestDetails.vcpu}}</p>
      <p><span>Disk space:</span>{{requestDetails.disk_space}}</p>
      <p><span>Software list:</span>{{requestDetails.software_list}}</p>
      <p><span>Open ports:</span>{{requestDetails.openPorts}}</p>
      <p><span>Has public IP:</span>{{requestDetails.hasPublicIP}}</p>
      <p><span>Desired creation date:</span>{{formatDate(requestDetails.desired_start_date)}}</p>
      <p><span>Status:</span>{{requestDetails.status | titlecase}}</p>
    </div>
  </div>

  @if(adminRole === "GeneralSpecsAdmin") {
    <div>
      <div class="d-flex align-items-center justify-content-center mt-4">
        <button class="me-2 btn button-approve">Approve request</button>
        <button class="btn button-reject" (click)="rejectRequest()">Reject request</button>
      </div>
      <p class="text-center mt-1" style="font-size:12px">Approving will send this request to the network admin</p>
    </div>
  }
  
  @if (adminRole === 'NetworkAdmin') {
    <div class="form-group" style="width: 600px">
      <label for="cidr">Cidr Range</label>
      <input type="text" id="cidr" formControlName="cidr" class="form-control" placeholder="eg: 192.168.1.0/24">
    </div>
  }


</div>
