<div class="container-fluid" style="min-height: 100vh">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div class="header mb-5">
    <div class="brand d-flex align-items-center justify-content-start">
      <div class="logo"></div>
      <h3>Provision App</h3>
    </div>
    <p style="font-size:large; font-weight: bold; margin: 0">Mohamed Najjar</p>
    <div class="menu">
      <a routerLink="/my-requests">My Requests</a>
      <a routerLink="/my-servers">My Servers</a>
      <a href="">My Profile</a>
    </div>
  </div>

  <h3 class="mb-4">Server Details</h3>

  <div>
    <h4>Requester details</h4>
    <div class="ms-4">
      <p><span>Full name:</span>Mohamed Najjar</p>
      <p><span>Email address:</span>najjarmohamed443&#64;gmail.com</p>
      <p><span>Matricule:</span>451287</p>
    </div>
  </div>

  <div>
    <h4>Request details</h4>
    <div class="ms-4">
      <p><span>Server name:</span>Jenkins Server</p>
      <p><span>Description:</span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora optio animi quo eum id eligendi, labore inventore? Fu</p>
      <p><span>Operating system:</span>Red Hat Entreprise Linux 9</p>
      <p><span>RAM:</span>8 GB</p>
      <p><span>vCPUs:</span>8 GB</p>
      <p><span>Disk space:</span>100 GB</p>
      <p><span>Desired creation date:</span>24/07/2024, 22:08 UTC</p>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center mt-4">
    <button class="me-2 btn button-approve">Approve request</button>
    <button class="btn button-reject">Reject request</button>
  </div>
  <p class="text-center mt-1" style="font-size:12px">Approving will send this request to the network admin</p>


</div>
